Package: priority-email-gateway
Version: __VERSION__
Architecture: all
Maintainer: Trustedbird project <contact@trustedbird.org>
Installed-Size: 0
Depends: postfix, qpsmtpd (>= 0.40), patch
Section: mail
Priority: extra
Description: Priority-based mail architecture using Postfix and Qpsmtpd
 priority-email-gateway is a set of scripts and patches to setup
 Qpsmtpd and several Postfix instances in order to prioritize
 emails based on message headers.
