.ximfmail-person-icon {
  margin: 0 3px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.png");
}

.addressingXimfmailCell {
  border-bottom: 1px solid #CACAFF;
  padding: 0px;
}
