[Desktop Entry]
Name=Trustedbird 24
Comment=Read/Write Mail/News with Trustedbird, based on Mozilla Thunderbird
GenericName=Mail Client
Exec=/opt/trustedbird24/trustedbird %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=trustedbird3.1
Categories=Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Trustedbird-bin
StartupNotify=true
