# Copy this file to server.properties and modify SSH_USERNAME to enable SVN write access through SSH

svn.username   = SSH_USERNAME
svn.server.url = svn+ssh://${svn.username}@svn.adullact.net/svnroot/milimail
